@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  background: url(./Morning\ Energy\ Lofi\ Music\ 🌄\ Girl\ and\ Cat\ Chill\ with\ Music\ Lofi\ -\ Lofi\ Chill\ _\ Relax\ _\ Study.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Lexend", sans-serif;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* width: max-content;
    height: max-content; */
    gap: 1rem;
    text-align: center;
}

.landing h1{
    font-size: 5rem;
    font-weight: 700;
    color: #333333;
}

.landing-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 2px solid green; */
}

.landing-bottons{
    display: flex;
    gap: 0.5rem;
    /* border: 2px solid green; */
}

.landing-bottons button{
    display: flex;
    text-align: center;
    font-weight: 600;
    border: 1px solid #333333;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #FFF6E8;
    /* border: 2px solid green; */
}


.nav-container{
    text-align: center;
    padding-top: 3rem;
}

.nav-container a{
    color: #F2F2F2;
    background-color: #333333;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-container a:hover{
    color: #333333;
    background-color: #F2F2F2;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #333333;
}

.logout-button{
    position: fixed;
    border: 1px solid #333333;
    font-size: 1rem;
    right: 30px;
    bottom: 2rem;
    border: none;
    color: #F2F2F2;
    background-color: #333333;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.container {
width: 50vw;
margin: auto;
display: flex;
flex-direction: column;
gap: 1rem;
background-color: white;
margin-top: 2rem;
padding: 1rem 2rem;
    /* width: 10px; */
}

.container .user-image{
    width: 50px;
    border-radius: 50%;
}

.container .top{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.uploaded-image{
    width: 500px;
}

.middle-text{
    padding: 0;
    width: 80%;
    margin: auto;
    text-align: left;
    white-space: pre-wrap;
}

.bottom{
    color: red;
    font-weight: bold;
}